<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/schedules/buy/<%= schedules.id %>" method="post">
        <label>Your Name</label><br>
        <input type="text" name="name" id="">
        <br>
        
        <label>Travel Agents</label><br>
        <input type="text" name="TravelAgent" value="<%= schedules.TravelAgent.name %>">
        <br>

        <label>Origin</label><br>
        <input type="text" name="origin" value="<%= schedules.origin %>" >
        <br>

        <label>Destination</label><br>
        <input type="text" name="destination" value="<%= schedules.destination %>">
        <br>

        <input type="submit" value="BOOK">
    </form>
</body>
</html>