<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .jumbotron {
      text-align: center;
    }

    .btn-primary {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to ExploreExpress!</h1>
    <p class="lead">At ExploreExpress, we believe that every journey is an 
        opportunity for adventure and exploration. We specialize in providing exceptional bus travel experiences 
        that take you beyond the ordinary.</p>
    <hr class="my-4">
    <p>Our fleet of comfortable and modern buses, 
        operated by skilled and friendly drivers, ensures a smooth and enjoyable ride to your destination. Book your travel with us now!</p>
    <a class="btn btn-primary btn-lg" href="/schedules" role="button">See Travels</a>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
