<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
