<html>

<head>
    <!-- Only include when rendering is required -->
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
    <script>
        var easyinvoice = require('easyinvoice');

        function renderInvoice() {
            var data = getSampleData();
            document.getElementById("pdf").innerHTML = "loading...";
            easyinvoice.createInvoice(data, function (result) {
                easyinvoice.render('pdf', result.pdf);
            });
        }

        function createInvoice() {
            var data = getSampleData();
            easyinvoice.createInvoice(data, function (result) {
                document.getElementById('invoiceBase64').innerText = result.pdf;
                /* console.log(result.pdf); */
            });
        }

        function getSampleData() {
            return {
                sender: {
                    company: 'Explore Express',
                    // "custom1": "custom value 1",
                    // "custom2": "custom value 2",
                    // "custom3": "custom value 3"
                },
                information: {
                    number: '2021.0001',
                    date: new Date(),
                },
                products: [
                    {
                        quantity: 2,
                        description: 'Product 1',
                        'tax-rate': 6,
                        price: 33.87
                    }
                ],
                'bottom-notice': 'Kindly pay your invoice within 15 days.',
                settings: {
                    currency: 'USD' // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
                    // "locale": "nl-NL", // Defaults to en-US, used for number formatting (see docs)
                    // "margin-top": 25, // Default to 25
                    // "margin-right": 25, // Default to 25
                    // "margin-left": 25, // Default to 25
                    // "margin-bottom": 25, // Default to 25
                    // "format": "Letter", // Defaults to A4,
                    // "height": "1000px", // allowed units: mm, cm, in, px
                    // "width": "500px", // allowed units: mm, cm, in, px
                    // "orientation": "landscape", // portrait or landscape, defaults to portrait
                },
                "translate": {
                },
            };
        }
    </script>

    <!-- Include pdfjs version 2.3.200 for Internet Explorer compatibility, no worker required -->
    <!-- <script src="https://unpkg.com/pdfjs-dist@2.3.200/build/pdf.min.js"></script> -->
    <style>
        #pdf {
            text-align: center;
        }

        #pdf canvas {
            border: 1px solid black;
            width: 95%;
        }
    </style>
</head>

<body>
    <button onclick="createInvoice()">Create Invoice</button>
    <button onclick="downloadInvoice()">Download Invoice</button>
    <button onclick="renderInvoice()">Render Invoice</button>
    <p>Invoice as base64 (click create invoice):
        <small id="invoiceBase64"></small>
    </p>
    <div id="pdf"></div>
</body>

</html>